<section class="bg-primary border-b-[1px] border-secondary mb-4">
  <section
    class="max-w-4xl flex flex-row mx-auto items-center justify-between px-2"
  >
    <span class="p-4 font-medium">Chat App</span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="beforeMenu"
      class="text-xs lg:text-base text-tetriary1 p-4"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="logout()">Sign Out</button>
    </mat-menu>
  </section>
</section>
