<section
  class="w-[800px] max-w-[90vw] p-4 bg-primary border-[1px] border-secondary"
>
  <h2 class="text-center mb-4">Create new Room</h2>
  <form [formGroup]="searchForm" class="relative mb-4">
    <input
      type="text"
      placeholder="Search for someone"
      formControlName="searchInput"
      class="bg-secondary rounded-xl p-2 my-2 w-full"
    />
    <button
      type="button"
      class="absolute top-1/2 right-0 transform -translate-x-1/2 -translate-y-1/2 flex items-center"
      (click)="resetSearchInput()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </form>
  <ng-container *ngFor="let user of users">
    <app-chat-group-item
      [first_name]="user.first_name"
      [last_name]="user.last_name"
    ></app-chat-group-item>
  </ng-container>
</section>
