<section class="min-h-[50vh] h-full w-full flex flex-col">
  <app-chat-block-top-profile></app-chat-block-top-profile>

  <section
    class="h-full overflow-y-scroll flex flex-col box-border"
    #scrollableSection
  >
    <div *ngFor="let message of messageService.messages">
      <app-my-message
        *ngIf="message.sender_id !== partner_id"
        [text]="message.message"
      ></app-my-message>

      <app-partner-message
        *ngIf="message.sender_id == partner_id"
        [text]="message.message"
      ></app-partner-message>
    </div>
  </section>

  <form [formGroup]="messageForm" (ngSubmit)="handleSubmit()" class="relative">
    <input
      type="text"
      placeholder="Type a message"
      formControlName="messageInput"
      class="w-full rounded-xl p-3 bg-secondary"
    />
    <button
      type="submit"
      class="absolute top-1/2 right-0 transform -translate-x-1/2 -translate-y-1/2 flex items-center"
    >
      <mat-icon>send</mat-icon>
    </button>
  </form>
</section>
